<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Salut <%=@user.first_name %> !</h1>
    <p class="lead">Comment ca va ? </p>
    
  </div>
</div>
         <center> <%= link_to 'Modifier email ou mot de passe', edit_user_registration_path, class: "btn btn-outline-danger" %>
          <%= link_to 'Modifier mes informations', edit_user_path(@user.id), class: "btn btn-outline-danger" %></center>
          
          <% if @user.avatar.attached? %>
          <div class="media">
  <%= image_tag @user.avatar, alt: 'Avatar' %>
        
    <div class="media-body">
       <% else %>
          <%= image_tag 'imgUsPp.png', alt: 'Default Avatar', class: "align-self-start mr-3" %> 
           <% end %> 
      <h5 class="mt-0">Mon profil </h5>
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Prenom et Nom : <%= @user.first_name %> <%= @user.last_name %></li> 
              <li class="list-group-item"> Mon email : <%= @user.email %> </li>
              <li class="list-group-item">Mes hobbies : <%= @user.description %> personnes inscrites pour le moment !</li>
            </ul>  
         </div> 
          <div class="container">
            <% if @user.events %>
            <% @user.events == 0 %>
            <p>Tu participe a aucan event .</p>
            <% else %>
            <h3>Je particips a  : </h3>
             <% @user.events.each do |event| %>
               <div class="event-element">
                <p>Titre : <%= event.title %> <%= link_to 'info', event_path(event.id) %> </p>
              </div>
             <% end %>
             <br><br>
          </div>
          <%end %>
    </div>