<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <!-- metre methode if pour createur ou pas -->
      <h2><%= @event.title %></h2>
        <br>
        <% if current_user.id == @event.user_id %>
          <p class="lead center" >
            <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-outline-info" %>
            <%= link_to "Delete Event", @event, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-outline-danger" %></p>
          <% else %>
          <div class="btn btn-info">
            <%= link_to 'Participer', new_event_attendance_path(params[:id]) %>
         </div>
         <% end %>
</div> 

<div class="card mb-3">
  <img src="..." class="card-img-top" alt="img">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Adresse : <%= @event.location %></li> <!-- Full Adrs?? -->
      <li class="list-group-item">Organisateur : <%= @creator.first_name %> <%= @creator.last_name %></li>
      <li class="list-group-item">Date et Heure : <%= @event.start_date %> </li>
      <li class="list-group-item">Prix : <%= @event.price %></li>
      <li class="list-group-item"><%= @event.attendances.count %> personnes inscrites pour le moment !</li>
    </ul>
  </div>
</div>



